body {
    background-color: salmon;
    text-align: center;
}

.nav-wrapper {
    text-align: start !important;
}

.brand-logo {
    padding-left: 1rem !important;
}

#landingWindow {
    margin: 10rem auto;
    width: 30vw;
    text-align: center;
    border-radius: 1rem;
}

.landing-item {
    margin: 2rem !important;
    border-radius: 1rem;
}

@media screen and (max-width: 990px) {
    body {
        background-color: cornflowerblue;
    }

    #landingWindow {
        width: 80vw;
    }
}